* { 
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  } 
#main {
  display: flex;
}
#sidebar {
  width: 20vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 12px;

}
#sidebar>img{
  width: 50%;
  position: relative;
  top: 30px;
  left: 20px;
}
#sidebar > ul {
  width: 30%;
  position: relative;
  top: 30px;
  left: 20px;
  list-style-type: none;
  margin: 10px;

}
#sidebar > ul > li {
  display: flex;
  padding: 10px;
}
#sidebar > ul > li > img {
 margin-right: 10px;
}
#main_scrollable_container{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 40px;
  top: 20px;
 
}
#stories_section{
    display: flex;
    padding: 10px 0px;
    justify-content: left;
    margin: 10px;
}
.story_image{
  padding: 0px 10px;
  background-image: url(./assets/story_bg_image.svg);
  background-repeat: no-repeat;
  background-position: right 5px;

}
.story_image>img{
  position: relative;
  top: 10px;
  left: 5px;
  border-radius: 50px;
}
.story_image>p{
  position: relative;
  top: 15px;
  left: 5px;
}
#post{
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
  
}
#post>ul{
  list-style-type: none;
}
#post-header{
  display: flex;
  justify-content: space-between;
}
#post-header>div{
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
#post-header>div>img{
  padding: 5px;
}
#post-header>div>p{
  padding: 5px;
}
#post-footer{
  display: flex;
  flex-direction: column;

}
#post-footer>p{
 margin: 10px 0px;

}
#post-footer>div{
  display: flex;
  justify-content: space-between;
  padding: 10px;

}
#footer{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 50px;
}
#footer>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#footer>div>img{
  border-radius: 50%;
  margin-right: 0px;
}
#footer>div>a{
  margin-left: 20px;
}
#footer>div>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer>div>div>p{
  font-size: 12px;
  color: lightgray;
}
#footer-suggestation{
  display: flex;
  flex-direction: column;
}
#footer-suggestation>div{
  display: flexbox;
  padding: 20px;


}
#footer-suggestation>div>div{
display: flex;
flex-direction: column;

}

#about-section>ul{
  width: 200px;
  display: flex;
  text-align: justify;
  flex-wrap: wrap;
   list-style-type: none;
   margin-bottom: 20px;
   color: #C7C7C7;
}
#about-section>ul>li{
  padding: 2px;
font-size: 10px;
}